{% extends "base.html" %}

{% block content %}
	<div class="page-header">
    	<h1>Linkkejä</h1>
  	</div>
  	<p>
    	Tänne on kerätty hyödyllisiä linkkejä python-perustaiseen Twitter-ryömintään. 
  	</p>

	<h3>Twitter ja muut API:t</h3>
		<ul>
			<li>
				<a href="https://dev.twitter.com/rest/">Twitterin REST API</a></li>
			<li>
				<a href="https://dev.twitter.com/streaming/overview">Twitterin Streaming API</a></li>
			<li><a href="http://support.gnip.com/apis/historical_api/">Gnipin Historical Power Track API</a></li>
		</ul>

	<h3>Python-ryömijät</h3>
		<ul>
			<li>
				<a href="https://github.com/tweepy/tweepy">Tweepy</a>
			</li>
			<li>
				<a href="https://github.com/bear/python-twitter">Twitter-Python</a>
			</li>
		</ul>

	<h3>Ohjeet</h3>
		<ul>
			<li>
				<a href="http://marcobonzanini.com/2015/03/02/mining-twitter-data-with-python-part-1/">Marco Bonzaninin perusteellinen tutorial</a>
			</li>
			<li>
				<a href="http://knightlab.northwestern.edu/2014/03/15/a-beginners-guide-to-collecting-twitter-data-and-a-bit-of-web-scraping/">Knightlabin ryömijä-ohje</a>
			</li>
		</ul>

	<h3>Esimerkit</h3>
		<ul>
			<li><a href="https://github.com/datanalysis15m/">Datanalysis15M</a>
			</li>
		</ul>

{% endblock %}