{% extends "base.html" %}
{% block content %}
  <h1>Käyttäjän hegemonni tilaukset</h1>

  <p>
    <a href="{{base_path}}/tilaus" class="btn btn-success">Tee uusi tilaus</a>
  </p>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Tilauksen nimi</th>
        <th>Aikaväli</th>
        <th>Kuvaus</th>
        <th>Hashtagit</th>
        <th>Twiittejä (kpl)</th>
        <th>Käyttäjiä (kpl)</th>
        <th>Tilauksen status</th>
        <th>Tilaus alkoi</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <!-- Listataan tilaukset tähän -->
      {% for tweet in tweets %}
      <tr>
        <td><a href="{{base_path}}/{{tweet.id}}">{{tweet.name}}</a></td>
        <td>1.1.2015-31.5.2015</td>
        <td>Vuoden 2015 ek-vaalien Twitter-keskustelua</td>
        <td>#vaalit2015</td>
        <td>575</td>
        <td>575</td>
        <td><label class="label label-danger">käynnissä</label></td>
        <td>1.9.2015</td>
        <th><a class="btn btn-default btn-sm" href="#">Muokkaa</a></th>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}